<div class="row">
  <div class="col-12 my-2">
    <button routerLink="/posts/create" class="btn btn-success">Crear Nuevo</button>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Lista de Entradas</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Titulo</th>
              <th>Fecha</th>
              <th>Imagen</th>
              <th>Acciones</th>

            </tr>
          </thead>
          <tbody>
           
          </tbody>
          <tfoot>
            <tr>
              <th>#</th>
              <th>Titulo</th>
              <th>Fecha</th>
              <th>Imagen</th>
              <th>Acciones</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>